<div class="trips-container">

  <app-trip-filters 
    (destinationChange)="selectedDestination.set($event)"
    (dateChange)="selectedDate.set($event)"
    (maxPriceChange)="maxPrice.set($event)"
    (sortChange)="priceSortOrder.set($event)">
  </app-trip-filters>

  @if (authService.currentUser()?.isAdmin) {
    <button [routerLink]="['/add-trip']">
      הוספת טיול
    </button>
  }

  @for (trip of filteredTrips(); track trip.id) {
    <div class="trip-card-wrapper">
      
      @if (isUserRegisteredToTrip(trip.id)) {
        <p class="registered-badge">✓ את/ה רשום/ה לטיול זה!</p>
      }
      
      <app-trip-card [currentTrip]="trip"></app-trip-card>
    </div>
  }

</div>