<div class="trip-card">

  <img
    [src]="currentTrip().image"
    [alt]="currentTrip().name"
    class="trip-image"
    (click)="goToTripDetails()" style="cursor: pointer;"
  />

  <div class="trip-content">
    <h2>{{ currentTrip().name }}</h2>
    <p>{{ currentTrip().destination }}</p>
  </div>
  @if (authService.currentUser()?.isAdmin) {

    <div class="actions">

      <button (click)="onEdit()">edit</button>

      <button (click)="onDelete()">delete</button>

    </div>

  }
  @if (showDeleteModal) {
  <div class="modal-backdrop">

    <div class="modal">

      <p>Are you sure you want to delete?</p>

      <button (click)="confirmDelete()">Confirm</button>
      <button (click)="cancelDelete()">Cancel</button>

    </div>

  </div>
}

</div>