@if (currentTrip()) {
      <h1>{{ currentTrip()?.name }}</h1>
      <h2>Destination: {{ currentTrip()?.destination }}</h2>
      <h3>Description: {{ currentTrip()?.description }}</h3>
      <h3>Dates: Between {{ currentTrip()?.startDate }} and {{ currentTrip()?.endDate }}</h3>
      <h3>Price: {{ currentTrip()?.price }} $</h3>
      
      <img [src]="currentTrip()?.image" alt="trip-image" style="max-width: 400px; border-radius: 8px;">
    
      <br><br>
    
      @if (authService.currentUser()) {
        @if (isRegistered()) {
            <h2>Your Booking Details:</h2>
            <p>Number of People: {{bookingDetails()?.people}}</p>
            <p>Amount Paid: {{ (bookingDetails()?.people ?? 0) * (currentTrip()?.price ?? 0) }} $</p>
          <button (click)="cancelTripRegistration()">
            Cancel Trip Registration
          </button>
        } @else {
          <button (click)="registerToTrip(peopleInput.valueAsNumber)">
            Register for this Trip
          </button>
          
          <div>
            <label for="people">Number of People in the Trip: </label>
            <input #peopleInput 
                   type="number" 
                   name="people" 
                   min="1"
                   [ngModel]="newBooking().people"
                   (ngModelChange)="newBooking.set({ tripId: currentTrip()?.id ?? '', userId: authService.currentUser()?.id ?? '', people: $event })">
            <p>Amount to Pay: {{ (newBooking().people ?? 1) * (currentTrip()?.price ?? 0) }} $</p>

          </div>
        }
      }
    } @else {
      <p>Loading trip details...</p>
    }
    